# Files and directories created by pub
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# IDEA files
*.iml
.idea

# macOS
*.DS_Store

# Exclude generated Dart files
*.g.dart
